<div class="container-fluid">
	<div class="row-fluid">
		<%= paginate @commits_paginated %>
		
		<table id="projectRevions" class="table table-bordered table-hover ">
			<thead>
			  <tr>
			  	<th>Author</th>
			    <th>Revision</th>
			    <th>Issue Link</th>
			    <th>Message</th>
			    <th>Files</th>
			    <th>Time Since Commit</th>
			  </tr>
		  	</thead>
			<tbody>
				<% @commits_by_day.each do |date, commits_for_one_day| %>
					<tr>
						<td colspan="6" ><h5 class="fancy-header" ><%= date.strftime('%A') + " " + date.to_formatted_s(:long_ordinal) %></h5></td>
					</tr>
					<% commits_for_one_day.each do |commit| %>
					  <tr>
					    <td><%= commit.author %></td>
					    <td><%= create_code_diff_link(commit,@current_project) %></td>
					    <td><%= create_issue_tracker_link(commit) %></td>
					    <td><%= commit.message %></td>
					    <td><%= find_paths(commit) + " files" %></td>
					    <td><%= time_ago_in_words(commit.committed_at) %></td>
					  </tr>
					  <% end %>
					<% end %>
			</tbody>
		</table>
		
		<%= paginate @commits_paginated %>
	</div>
</div>
