<%= form_for([@current_prject,@whitelist], :url => project_whitelist_path(@current_project,)) do |f| %>
  <% if @whitelist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@whitelist.errors.count, "error") %> prohibited this whitelist from being saved:</h2>

      <ul>
      <% @whitelist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :branch_name %><br />
    <%= f.text_field :branch_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
