
<p id="notice"><%= notice %></p>

<br/> <br/>
<div>
<div style="text-align: center">
<h3 class="header-table"><%= @whitelist.branch_name %></h3>
</div>
<table width="100%" border="1" style="text-align: left">
  <tr>
	<th>Issue</th>
	<th>Comment</th>
	<th></th>
	<th></th>
  </tr>

  <% @whitelist.items.each do |item| %>
	  <tr>
		<td><%= item.issue %></td>
		<td><%= item.comment %></td>
		<td><%= link_to 'Edit', edit_project_whitelist_item_path(@current_project,item) %></td>
		<td><%= link_to 'Destroy', project_whitelist_item_path(@current_project,item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
  <% end %>
</table>
</div>

<br/> <br/>
<%= button_to 'Add New Item', new_project_whitelist_item_path, :method => :get %>
<br/>
<%= link_to 'Back', projects_path %>
