<p id="notice"><%= notice %></p>

<p>
  <b>Branch Name:</b>
  <%= @whitelist.branch_name %>
</p>

<p>
  <b>Num Items:</b>
  <%= @whitelist.num_items %>
</p>

<p>
  <b>Created At:</b>
  <%= @whitelist.created_at %>
</p>

<p>
  <b>Updated At:</b>
  <%= @whitelist.updated_at %>
</p>

<%= link_to 'Back', projects_path %>
