<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @whitelist.string %>
</p>

<p>
  <b>String:</b>
  <%= @whitelist.string %>
</p>

<p>
  <b>Integer:</b>
  <%= @whitelist.integer %>
</p>


<%= link_to 'Edit', edit_whitelist_path(@whitelist) %> |
<%= link_to 'Back', whitelists_path %>
