<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @whitelist.string %>
</p>

<p>
  <b>String:</b>
  <%= @whitelist.string %>
</p>

<p>
  <b>Integer:</b>
  <%= @whitelist.integer %>
</p>


<%= link_to 'Edit', edit_projects_whitelist_path([@current_project,@whitelist]) %> |
<%= link_to 'Back', projects_path %>
