<p id="notice"><%= notice %></p>

<table class="table table-bordered table-hover">
  <tr>
    <th>Name</th>
    <th>Display Name</th>
    <th>Url Path</th>
    <th>Base Revision</th>
    <th>Last Revision</th>
    <th>Commits</th>
    <th>Jira Issues</th>
    <th>Last Search</th>
    <th>Active</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= @project.name %></td>
    <td><%= @project.display_name %></td>
    <td><%= @project.url_path %></td>
    <td><%= @project.base_revision %></td>
    <td><%= @project.last_revision %></td>
    <td><%= @project.commits.count %></td>
    <td><%= total_dev_issues(@project) %></td>
    <td><%= display_time(@project.last_run_time) %></td>
    <td><%= active_flag_display(@project.active) %></td>
    <td><%= link_to 'Edit', edit_project_path(@project), :class => "btn btn-small" %></td>
    <td><%= link_to 'Delete', @project, confirm: 'Are you sure?', method: :delete, :class => "btn btn-small" %></td>
  </tr>
</table>

<div id="short_cuts">
	<h5>Jump To</h5>
	<ol>
		<li><%= link_to @project.display_name + " commits", project_commits_path(@project.id) %></li>
		<li><%= link_to @project.display_name + " Whitelist", project_whitelist_path(@project.id) %></li>
		<li><a href="#commits_by_day_chart">Commits By Day Chart</a></li>
		<li><a href="#commits_by_week_chart">Commits By Week Chart</a></li>
		<li><a href="#commits_by_author_chart">Commits By Author Chart</a></li>
		<li><a href="#commits_by_issue_chart">Commits By Issue Chart</a></li>
	</ol>
</div>

<h6 align="center" >Commits By Day</h6>
<%= line_chart @project.commits.group_by_day(:committed_at).count, :id => "commits_by_day_chart" %>


<h6 align="center" >Commits By Week</h6>
<%= line_chart @project.commits.group_by_week(:committed_at).count, :id => "commits_by_week_chart" %>

<h6 align="center" >Commits By Author</h6>
<%= column_chart @project.commits.group("author").count, :id => "commits_by_author_chart" %>

<h6 align="center" >Commits By Issue</h6>
<%= column_chart @project.commits.group("issue").count, :id => "commits_by_issue_chart", :min => 0, :max => 20 %>

<br />

<%= link_to 'Back', projects_path %>
